<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAws4Lyl1J0y82AAeIp2nkEZ9KpEmPZN8</string>
	<key>GCM_SENDER_ID</key>
	<string>242681723827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tTaskManager.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>t-tasks-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>t-tasks-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242681723827:ios:7d80bd6dc79106064669c6</string>
</dict>
</plist>